<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'admin/head_link.html' %}
</head>
<body>
	<div class="breadcrub">
			当前位置：新闻管理>新闻版式编辑
		<form class="news_filter_form">
			<input type="text" placeholder="请输入关键字" class="input_txt">
			<input type="submit" value="搜 索" class="input_sub">
		</form>
	</div>
		

	<div class="pannel">			
			<table class="common_table">
				<tr>
					<th width="5%">id</th>
					<th width="70%">标题</th>
					<th width="15%">发布时间</th>
					<th width="10%">管理操作</th>
				</tr>
				<tr v-for="news in news_list">
					<td>[[news.id]]</td>
					<td class="tleft">[[news.title]]</td>
					<td>[[news.create_time]]</td>
					<td>
						<a :href="'/admin/news/edit/detail/'+news.id" class="edit">编辑</a>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="box">
			<div id="pagination" class="page"></div>
		</div>

        <script>
            var common_table_vue = new Vue({
               el:'.common_table',
               delimiters:['[[', ']]'],
               data:{
                   news_list:[]
               },
               methods:{
                   get_news_info:function (params) {
                       axios.get('/admin/news/review/list',{
                           params:{
                               'page':1,
                               'params':params
                           }
                       }).then(function (dat) {
                           common_table_vue.news_list=dat.data.news_list;
                           $("#pagination").pagination({
                                currentPage: 1,
                                totalPage: dat.data.total_page,
                                callback: function(current) {
                                    axios.get('/admin/news/review/list',{
                                       params:{
                                           'page':current,
                                           'params':params
                                       }
                                   }).then(function (dat) {
                                        common_table_vue.news_list=dat.data.news_list;
                                    })
                                            }
                                        });
                       })
                   }
               },
               mounted:function () {
                   this.get_news_info('');
               }
            });


			$(function() {
				$('.news_filter_form').submit(function (e) {
				    e.preventDefault();
                    var content = $('.input_txt').val();
                    $('.input_txt').val('');
                    common_table_vue.get_news_info(content);
                })
			});
		</script>
	
</body>
</html>